.product-container {
    position: relative;
    display: flex;
    justify-content: space-around;
    min-height: 100vh;
    background: linear-gradient(180deg, #001e40, #002d5f) no-repeat;
    box-sizing: border-box;
    overflow-x: hidden;
}

.product-nav-container {
    width: 300px;
    box-sizing: border-box;
}

.product-nav-container .product-nav {
    padding-top: 8px;
    padding-left: 8px;

}

.product-nav-container .product-nav-item {
    display: block;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    font-size: 24px;
    box-shadow: 0 2px 3px 3px #002d5f;
    color: rgb(102, 237, 192);
    border-bottom: 2px solid #001e40,
        #002d5f;
    cursor: pointer;

}

.product-nav-name {
    display: block;
    width: 100%;
    cursor: pointer;
}

.active {
    color: #e5e5e7;
}

@media (max-width: 820px) and (min-width: 375px) {
    .product-nav-container {
        width: 150px;
        height: 400px;
    }
}

@media (max-width: 394px) and (min-width: 390px) {
    .product-nav-container .product-nav-item {
        font-size: 1.1rem;
        padding-left: 8px;
    }
}